* {
    box-sizing: border-box;
}

body {
    padding: 15px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

.ba-wrapper {
    width: 50%;
}

.ba-banner {
    position: relative;
    background: 
    {   image: url(../image/banner_bg.jpg);
        size: cover;
        repeat: no-repeat;};
        width: 100%;
   }

  .ba-hero {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: calc(100vh-88px);
      color: white;
      padding-top: 266px;

      &__title{
          padding: 0;
          margin: 0;
          font-size: 3rem;
          font-weight: bold;
          text-transform: uppercase;
      }

      &__desc{
          margin-bottom: 53px;
          font-size: 22px;
      }

      &__form{
        display: flex;
      }
  }

  .ba-input {
    height: 60px;
    padding: 1em;
    border: 1px solid white;
    border-right: none;
    // flex-grow: 1;
    width: 500px;
    font-weight: 400;
     }
  
  .ba-input:focus {
    outline: none;
    box-shadow: inset 6px 0px 0px 0px #7beec7;
  }

  .ba-button {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  background-color: #ffffff;
  color:  #7beec7;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 0.875rem;
  padding: 0 2em;
  transition: .4s;

 &__img {
     margin-left: 1rem;
    
 }
  
  }
  
  .ba-button:hover {
    opacity: 0.8;
  }
  
  .ba-button:focus{
    border-color: #18c0e6;
  }
  
  .ba-button:active{
    border-color: #18c0e6;
  }
  
  .ba-button_blue {
    background-color: #5474fd;
    color: white;
    border: 1px solid white;
  }


  .ba-hero-scroll {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 120px;
      margin-bottom:    20px;
      color: white;
  }

  .ba-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    color: white;
    background-color: #5474fd;
  }

  .ba-logo {
    margin-left: 43px;
    font-size: 50px;
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.ba-menu {
    display: flex;
    align-items: center;
    list-style: none;

    &__link{
        font-family: 'Aleo', serif;
        font-size: 14px;
    }
}


.ba-menu__item + .ba-menu__item {
    margin-left: 43px;
}



.ba-choose {
    background: 
    {   image: url(../image/choose_bg.jpg);
        size: cover;
        repeat: no-repeat;};
        width: 100%;
  

        &__title{
            font-family: 'Aleo', serif;
            font-size: 1.5rem;
        }

        &__1 {
            display: flex;
            justify-content: center;
            padding: 118px;
        }

        &__images {
            display: flex;
            flex-direction: column;
        }

        &__img1 {
            display: block;
             width: 350px;
            height: 223px;
            object-fit: cover; 
        }

        &__img2 {
             display: block;
            width: 350px;
            height: 223px;
            object-fit: cover; 
            align-self: flex-end;
         }
   
   &__desc{
       font-size: 1rem;
   }


   &__2{
       display: flex;
       justify-content: space-around;
       align-items: center;
      background: 
    {   image: url(../image/blck3_bg.jpg);
        size: cover;
        repeat: no-repeat;};
        width: 100%;
        height: 338px;
   }

   &__2info {
       display: flex;
       flex-direction: column;
       justify-content: center;
   }

   &__2desc {
    padding-top: 1rem;
}
}

.ba-spain__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 700px;
   }

.ba-spain1 {
    background: 
    {   image: url(../image/spaim1_bg.jpg);
        size: cover;
        repeat: no-repeat;};
        height: 700px;
}

.ba-spain__info {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left:50%;
 }

 .ba-spain2 {
    background: 
    {   image: url(../image/spaim2_bg.jpg);
        size: cover;
        repeat: no-repeat;};
        height: 700px;
}

.ba-spain2__info {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    margin-right:50%;
 }


 .ba-say {
     display: flex;
     justify-content: center;
     align-items: center;
     background: 
     {   image: url(../image/say_bg.jpg);
         size: cover;
         repeat: no-repeat;};
     height: 700px;
     padding: 0 330px;


     &__title{
         text-align: center;
     }

     &__info{
         display: flex;
         font-size: 20px;
     }

     &__desc-title{
         text-transform: uppercase;
     }

     &__desc{
         padding: 3rem;
     }
 }


 .ba-footer {
       background-color: black;
     height: 269px;
   


     &__title{
         font-size: 1.5rem;
         text-transform: uppercase;
     }

     &__desc{
        font-size: 1.5rem;
     }

     &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 269px;
     }

     &__social {
        padding-bottom: 51px;
     }
 }

// .box {
//     background-color: #ccc;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: 15px;
//     height: 100%;
// }

// p {
//     font-size: 100px;
// }

// .btn {
//     background-color: $primaryColor;
//     min-width: 100px;
//     padding: 0 1em;
    
//     &:hover {
//         @include buttonHover;
//     }
// }